/* Restablece propiedades de estilo globales definidas 
 * por la pagina anfitriona del Chatbot */
body {
  color: inherit !important;
}
#chat-root p {
  margin: 0 !important;
}
#chat-root header,
#chat-root footer,
#chat-root section {
  margin: unset !important;
}
#chat-root #avatarName {
  font-size: 1.5rem !important;
}
#chat-root form {
  align-items: center !important;
  padding: 0px !important;
}
#chat-root input,
#chat-root input:hover {
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #ffffff !important;
}
#chat-root button.sendbutton {
  margin-left: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}
#chat-root a,
#chat-root a:visited,
#chat-root .ms-link:visited {
  color: blueviolet !important;
  text-decoration: underline;
}
#chat-root a {
  color: blue !important;
}
#chat-root img {
  max-width: unset !important;
  max-height: unset !important;
}
