/* Restablece propiedades de estilo globales definidas 
 * por la pagina anfitriona del Chatbot */

#chat-root p {
  margin: 0 !important;
}
#chat-root header,
#chat-root footer,
#chat-root section {
  margin: unset !important;
}
#chat-root input {
  border: 0px !important;
}
#chat-root button.sendbutton {
  margin-left: 0px !important;
  padding: 0px !important;
}
#chat-root a,
#chat-root a:visited,
#chat-root .ms-link:visited {
  color: blueviolet !important;
  text-decoration: underline;
}
#chat-root a {
  color: blue !important;
}
